
  .ChatContainer {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
  }
  
  .my-custom-main-container {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
  }