
  .Body{
    position: relative; 
    height: 500px; 
    width: 700px;
    left: 30%;
  }
  
  .ChatContainer {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 5000px;
    overflow: auto;
  }
  
  /* .my-custom-main-container {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: blue;
  }

  .red-bubble {
    background-color: #f44336 !important;
    color: white;
  } */

